# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
weather_file = pd.read_csv("../output_data/city.csv")
vac_file

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Bluff,99,NZ,1619818438,93,-46.6000,168.3333,44.01,4.00
1,1,Tasiilaq,41,GL,1619818438,86,65.6145,-37.6368,30.20,5.75
2,2,Souillac,40,MU,1619818439,83,-20.5167,57.5167,77.00,11.50
3,3,Punta Arenas,90,CL,1619818359,93,-53.1500,-70.9167,42.80,6.91
4,4,Grand Gaube,24,MU,1619818245,79,-20.0064,57.6608,78.01,7.00
5,5,Tuatapere,100,NZ,1619818164,93,-46.1333,167.6833,43.00,4.00
6,6,Saldanha,0,ZA,1619818440,67,-33.0117,17.9442,55.40,9.22
7,7,Rikitea,88,PF,1619818441,77,-23.1203,-134.9692,78.80,20.67
8,8,Hasaki,40,JP,1619818442,94,35.7333,140.8333,55.40,3.44
9,9,ShingÅ«,53,JP,1619818442,57,33.7333,135.9833,59.34,2.30
10,10,Ushuaia,75,AR,1619818220,93,-54.8000,-68.3000,39.20,4.61
11,11,Buraidah,0,SA,1619818243,27,26.3260,43.9750,77.00,4.61
12,12,Geraldton,69,AU,1619818143,66,-28.7667,114.6000,51.80,6.91
13,13,Broken Hill,100,AU,1619818443,54,-31.9500,141.4333,57.20,10.36
14,14,Chihuahua,90,MX,1619818278,55,28.5000,-106.0000,59.00,3.44
15,15,Avarua,75,CK,1619818169,78,-21.2078,-159.7750,80.60,4.61
16,16,Korla,0,CN,1619818176,19,41.7597,86.1469,69.93,2.08

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
gmaps.configure(api_key=g_key)

In [12]:
locations = vac_file[["Lat", "Lng"]]
humidity = vac_file["Humidity"].astype(float)

In [13]:
fig = gmaps.figure(center = [0,0] ,zoom_level = 2)

#Create and add heat layer 
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                               dissipating=False, max_intensity=100,
                               point_radius = 4)
fig.add_layer(heat_layer)
#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
narrowed_city_df = weather_file.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure